html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  display: block;
  background: #1b1b1b;
  color: rgba(255,255,255,0.9);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}
